@charset "utf-8";


/*画面幅1200px以上の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:1200px){

#top #logo {
	width: 20%;	/*ロゴ画像の幅*/
}

}



/*画面幅600px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:600px){

#top #logo {
	width: 30%;	/*ロゴ画像の幅*/
}

}


/*画面幅380px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:380px){

#top #logo {
	width: 40%;	/*ロゴ画像の幅*/
}

}
